<mat-dialog-content>
  <mat-form-field appearance="outline">
    <mat-label>X Coordinate</mat-label>
    <input matInput required name="data.xCoordinate" />
    <mat-hint>Between -5000 and 5000</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Y Coordinate</mat-label>
    <input matInput required name="data.yCoordinate" />
    <mat-hint>Between -5000 and 5000</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Select List</mat-label>
    <mat-select
      required
      [(ngModel)]="data.pointListId"
      name="pointList"
      class="form-select"
    >
      <mat-option
        *ngFor="let pointList of pointListsInput"
        [value]="pointList.id"
      >
        {{ pointList.name }}</mat-option
      >
    </mat-select>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button [mat-dialog-close] color="primary" (click)="createPoint()">
    Create
  </button>
  <button mat-button mat-dialog-close color="warn">Cancel</button>
</mat-dialog-actions>
