@model List<ZooModel>

<h3>Animal List</h3>
   
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Age</th>
        <th>Gender</th>
    </tr>

@foreach (var item in @Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)                  
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)<br/>                    
        </td>
        <td>                 
            @Html.DisplayFor(modelItem => item.Age)<br/>
        </td>
        <td>                 
            @Html.DisplayFor(modelItem => item.Gender)<br/>
        </td>

    </tr>
}
</table>